<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <h3>My Favorite Movies</h3>
    <div class="col-sm-8"> 
            <div class="jumbotron">
                <ul>
                    <li><%= movie1PassedToRenderPage %></li>
                    <li><%= movie2PassedToRenderPage %></li>
                    <li><%= movie3PassedToRenderPage %></li>
                    <li><%= movie4PassedToRenderPage %></li>
                </ul>
            </div>
        </div>
    
        
    
    
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
    </body>
    </html>